/* content */ 

p {
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    width: 50%;
}

#mydropdown {
    position: fixed;
    top: 9.75%;
    left: 40%;
    z-index: 2;
}

#dropdownMenuButton {
    background: #F35F64;
    color: white;
}

.picture-1 {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90%;
    height: 40%;
    background: peachpuff;
    z-index: 0;
}

.picture-2 {
    position: absolute;
    top: 54%;
    left: 5%;
    width: 43%;
    height: 30%;
    background: peachpuff;
    z-index: 0;
}

.picture-3 {
    position: absolute;
    top: 54%;
    right: 5%;
    width: 43%;
    height: 30%;
    background: peachpuff;
    z-index: 0;
}

.picture-4 {
    position: absolute;
    top: 86%;
    right: 5%;
    width: 63%;
    height: 30%;
    background: peachpuff;
    z-index: 0;
}

.picture-5 {
    position: absolute;
    top: 118%;
    left: 5%;
    width: 90%;
    height: 40%;
    background: peachpuff;
    z-index: 0;
}

.ad-1 {
    position: absolute;
    top: 86%;
    left: 5%;
    width: 23%;
    height: 30%;
    background: lightgrey; 
    z-index: 0;
}

.ad-text {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 8em;
}

.new-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 5em;
    height: 5em;
    background: #F35F64;
    color: white;
    font-size: 48px;
    border-radius: 50%;
    z-index: 1;
}
