/* resetting defaults */


h1 {
    margin: 0;
    border: 0;
}

/* topbar */ 

.topbar {
    position: fixed;
    top: 0%;
    background: #F35F64;
    width: 100vw;
    height: 10vh;
    height: 10%;
    width: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
    display: table;
    z-index: 1;
}

.topbar-title {
    font-size: 5em;
    font-family: "Koho", sans-serif;
    display:table-cell; 
    vertical-align:middle;
    z-index: 1;
}

.profile-icon {
    position: absolute;
    color: white;
    top: 25%;
    left: 5%;
    width: 10%;
    height: 50%;
    font-size: 64px;
    z-index: 1;
}

.settings-icon {
    position: absolute;
    color: white;
    top: 25%;
    right: 5%;
    width: 10%;
    height: 50%;
    font-size: 64px;
    z-index: 1;
}

p {
    font-size: 16px;
    font-family: "Oxygen", "Karla", "Lato", "Raleway";
    width: 50%;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    display:table-cell; 
    vertical-align:middle
}

